<div id="importAddress">
  <div class="form-header">
    Add account address
  </div>
  <form class="form-body" onsubmit="importAddress(event)">
    <br />
    <div style="width: 400px;">
      <div style="display: flex;">
        <span class="item">Name:</span>
        <input type='text' id='aa-name' size="42"/>
      </div>
      <div style="margin: 5px 0 5px 0; display: flex;">
        <span class="item">Address (tz*):</span>
        <input type='text' id='aa-address' size="42" />
      </div>
    </div>
  </form>
  <div class="form-footer">
    <button class="button" onclick="importAddress(event)">Import</button>
  </div>
</div>

<script>
  const importAddress = async (e) => {
    e.preventDefault();
    try {
      const name = $("#aa-name").val();
      const address = $("#aa-address").val();
      SmartpyWallet.account.persist({
        name: name,
        address: address,
        accountType: SmartpyWallet.constants.accountTypes.KEYLESS,
      });
      showModal({
        title: "Account Imported",
        content: "The keyless account was successfully added."
      });
    } catch (e) {
      showModal({
        title: "Error",
        content: `<div class='white-space-pre'>${JSON.stringify(e.message, null, 2)}</div>`
      });
    }

  }
</script>